<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dtsworkshop.flextools.sampleEditors.XMLEditor"
            extensions="as"
            icon="icons/sample.gif"
            id="com.dtsworkshop.flextools.sampleEditors.XMLEditor"
            name="Sample XML Editor"/>
      <editor
            class="com.dtsworkshop.flextools.editor.AsEditor2"
            default="false"
            extensions="test"
            id="Flex Tools Project.editor1"
            name="Flex Tools Project.editor1"/>
   </extension>
   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dtsworkshop.flextools.builder.SampleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dtsworkshop.flextools.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="com.dtsworkshop.flextools.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="launcher.contribution1">
         <action
               label="Add/Remove Sample Nature"
               class="com.dtsworkshop.flextools.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="launcher.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
  
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="label"
            launchAsLabel="FunkyFlexLaunch"
            mode="launcher.launchMode2">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
 
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.dtsworkshop.flextools.launch.LocalFlexLauncher"
            id="com.dtsworkshop.flextools.localLaunch"
            modes="run,debug"
            name="Flex Tools Launch Profiles"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationComparators">
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.dtsworkshop.flextools.launch.LocalLaunchConfigTabGroup"
            id="com.dtsworkshop.flextools.localLaunchConfig"
            type="com.dtsworkshop.flextools.localLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.dtsworkshop.flextools.actionSet"
            label="Refactor..."
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator name="sampleGroup"/>
         </menu>
         <action
               class="com.dtsworkshop.flextools.actions.SampleAction"
               icon="icons/sample.gif"
               id="com.dtsworkshop.flextools.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world"/>
         <action
               class="com.dtsworkshop.flextools.actions.ExtractMethodAction"
               id="com.dtsworkshop.flextools.actions.refactor.extractMethod"
               label="Extract method..."
               style="push"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.dtsworkshop.flextools.fbContribution"
            targetID="Flex Tools Project.editorContribution1"/>
      <editorContribution
            id="com.dtsworkshop.flextools.editorContribution"
            targetID="com.dtsworkshop.flextools.sampleEditors.XMLEditor">
         <action
               class="com.dtsworkshop.flextools.actions.refactor.ExtractMethodEditorAction"
               id="com.dtsworkshop.flextools.actions.refactor.extractMethod"
               label="Extract method..."
               menubarPath="refactorMenu/tools"
               style="push"/>
         <menu
               id="refactorMenu"
               label="Refactor...">
            <groupMarker name="tools"/>
         </menu>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="com.dtsworkshop.flextools.search.ui.MainSearcPage"
            enabled="true"
            id="com.dtsworkshop.flextools.search.ui.searchWindow"
            label="ActionScript Searcher"/>
   </extension>
   <!--
   <extension
         id="com.dtsworkshop.launcConfigTab"
         name="afdasfsadfadsf"
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="launcher.launch.LaunchTab1"
            group="launcher.tab1"
            id="launcher.tab1"
            name="launcher.tab1">
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="launcher.tab2"
            id="launcher.tab2"
            name="launcher.tab2">
      </tab>
      <tab
            class="org.eclipse.debug.ui.RefreshTab"
            group="launcher.tab3"
            id="launcher.tab3"
            name="launcher.tab3">
      </tab>
   </extension>
-->
</plugin>
